<div class='row'>
  <div class="col-lg-12 col-md-12 col-sm-12 containerbanner">
    <img src="assets/img/Banner_1.jpg" alt="Fit 4 Success" class="imgbannerhomepage">
    <div class="caption-bannner">
      <h1>
        {{bannerTitle}} <span>{{bannerTitle2}}</span>
      </h1>
      <h3>
        {{bannerSubtitle}}
      </h3>
      <p>
        <button class="btn btn-success bannerbutton1">
          SPORTPORTAL
        </button>
        <button class="btn btn-success bannerbutton2">
          INSTRUCTIONS
        </button>
      </p> 
    </div>
  </div> 
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 containerservices">
    <h1>
      seccion services
    </h1>
  </div>
</div>
