
<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4 footerdark">

    <hr>
    
       <!--Call to action-->
       <div class="text-center py-3">
           <ul class="list-unstyled list-inline mb-0">
               <li class="list-inline-item">
                   <h5 class="mb-1">DO YOU WANT TO START A NEW EXERCISE PLAN?</h5>
               </li>
               <li class="list-inline-item">
                   <a href="#!" class="btn btn-danger btn-rounded">FREE TRIAL</a>
               </li>
           </ul>
       </div>
       <!--/.Call to action-->
    
       <hr>

   <!--Footer Links-->
   <div class="container text-center text-md-left">
       <div class="row">

           <!--First column-->
           <div class="col-md-4">
              <img src="assets/img/Logo_Header.png" alt="Fit 4 Success">
           </div>
           <!--/.First column-->

           <hr class="clearfix w-100 d-md-none">

           <!--Second column-->
           <div class="col-md-4 mx-auto text-center">
               <ul class="list-unstyled" style="margin-top: 2em; margin-bottom: 2em;">
                   <li>
                       <a href="#!">HOME</a> <a href="#!">PLANS</a> <a href="#!">PRICING</a> <a href="#!">CONTACT</a>
                   </li>
                   <li>
                     <small>32 Oatland Rood L829 3DK, London | T: 0800 342 948</small>
                   </li>
               </ul>
           </div>
           <!--/.Second column-->

           <hr class="clearfix w-100 d-md-none">

           <!--Third column-->
           <div class="col-md-4 mx-auto text-center">
               <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">social icons</h5>
           </div>
           <!--/.Fourth column-->
       </div>
   </div>
   <!--/.Footer Links-->

   <!--/.Social buttons-->

   <!--Copyright-->
   <div class="footer-copyright py-3 text-center">
     <small>
        © 2018 Fit 4 Success Made By <a href="#"> secondcrew.com </a>
     </small>
   </div>
   <!--/.Copyright-->

</footer>
<!--/.Footer-->